# Build Artifacts

## Output
main.pdf
note.pdf
paper.pdf

## LaTeX temporary files
*.aux
*.fdb_latex
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex(busy)
*.synctex.gz
*.toc

## BibTeX temporary files
*.bbl
*.blg

# OS / Filesystem Metadata

## macOS

.DS_Store
.AppleDouble
.LSOverride
Icon?
![iI]con[_a-zA-Z0-9]

### Thumbnails
._*

### Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
